html, body {
      margin: 0;
    }

    h1, h2, a {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }

    p {
      font-family: Helvetica, Arial, sans-serif;
    }

    span {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 25px;
      color: #000;
      margin: 10px 0 0 0;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
    }

    #call-to-action {
     background-color: #ffd600;
     opacity: 0.9;
}

    /* Main */
    .main {
      text-align: center;
      background: url(../images/Pharrel-Williams.png) no-repeat center center;
      background-size: cover;
      height: 500px;
    }

    .main .container {
      position: relative;
      top: 0px;
      left: -200px;
    }

    .main h1 {
      color: #000;
      margin: 0;
      font-size: 80px;
    }

    .main p {
      color: #fff;
      margin: 0 0 20px 0;
      font-size: 18px;
    }

    .clearfix {
      clear: both;
      max-heigh:: 10px;
    }


    .main h2 {
      color: #000;
      margin: 0;
      font-size: 150px;
    }

    /* Footer */
    .footer {
      background-color: #ffd600;
      height: 600px;
      text-align: center;
    }

    .footer .container {
      position: relative;
      top: 5px;
    }

    .footer h2 {
      color: #000;
      font-size: 150px;
      margin: 0 0 20px 0;
      padding:50px 0 0;
    }

    .footer p {
      color: #000;
      margin: 0 0 20px 0;
      font-size: 18px;
    }

    @media (min-width:600px) {
      .main h1 {
        font-size: 80px;
      }

    @media (min-width:600px) {
      .main h2 {
        font-size: 80px;
      }
