html, body {
      margin: 0;
    }

    h1, h2, a {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }

    p {
      font-family: Helvetica, Arial, sans-serif;
    }

    .pharrel-header-subtitles-top {
      font-size: 35px;
    }

    .container {
      max-width: 940px;
      margin: 0 auto;
    }

#call-to-action {
  background-color: #000;
  opacity: 0.8;
}
    /* Main */
    .main {
      text-align: center;
      background: url(../images/Pharrel-Williams.png) no-repeat center center;
      background-size: cover;
      height: 600px;
    }

    .main .container {
      position: relative;
      top: 100px;
    }

    .main h1 {
      color: #fff;
      margin: 0;
      font-size: 150px;
    }

    .main p {
      color: #fff;
      margin: 0 0 20px 0;
      font-size: 18px;
    }



    .clearfix {
      clear: both;
    }


    .main h2 {
      color: #000;
      margin: 0;
      font-size: 150px;
    }



    /* Footer */
    .footer {
      background-color: #ffd600;
      height: 600px;
      text-align: center;
    }

    .footer .container {
      position: relative;
      top: 5px;
    }

    .footer h2 {
      color: #000;
      font-size: 150px;
      margin: 0 0 20px 0;
      padding:50px 0 0;
    }

    .footer p {
      color: #000;
      margin: 0 0 20px 0;
      font-size: 18px;
    }




    @media (min-width:600px) {
      .main h1 {
        font-size: 200px;
      }

    @media (min-width:600px) {
      .main h2 {
        font-size: 200px;
      }
